@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  width: 24px;
  height: 24px; 
  position: relative;
}

.btn::before,
.btn::after {
  content: "";  /* 疑似要素に必須 */
  width: 50%;   /* ハートの丸い部分の大きさにかかわる */
  height: 80%;  /* ハートの高さにかかわる */
  background: #ccc; /* ハートの色 */
  border-radius: 25px 25px 0 0; /* ハートの半円を生成 */
  display: block; /* ブロック要素にする */
  position: absolute; /* 相対位置に指定 */
}
.btn::before {
  transform: rotate(-45deg); /* 左に回転 */
  left: 14%;                 /* 左からの位置を指定 */
}
.btn::after {
  transform: rotate(45deg);  /* 右に回転 */
  right: 14%;                /* 右からの位置を指定 */
}

.toggled::before,
.toggled::after {
  background: #E0548E; /* ハートの色 */
}